:root {
    /* --dark: #272c35; */
    /* --dark: #1a1b26; */
    --dark: #1a1b26;
    --darker: #16161a;
    --light: rgb(200, 210, 219);
    --green: #4ad8be;
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--dark);
}

body {
    width: 100%;
    margin: 0;

    color: var(--light);

    font-family: ZillaSlab, serif;
    font-size: 3.6rem;
    font-weight: 200;
    line-height: 1.2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page {
    width: 100%;
}

.green {
    color: var(--green);
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

.loose {
    line-height: 1.4;
}
