.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;

    height: 100%;
}

.home > *:not(:last-child) {
    margin-bottom: 2.4rem;
}

.header {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header > *:not(:last-child) {
    margin-bottom: 0.8rem;
}

.title {
    width: 60%;
}

.subline {
    font-size: 2rem;
    font-style: italic;
}

.separator {
    width: 45%;
    min-width: 34rem;
    max-width: 40rem;
    height: 1rem;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separator-dot {
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--dark);
    margin: 0.3rem;
}

.menu {
    width: 45%;
    min-width: 34rem;
    max-width: 40rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
