.home {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-image: url(assets/background.jpg);
    background-size: cover;
    background-position: 50% center;
}

.home > *:not(:last-child) {
    margin-right: 2.4rem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-content: space-around;

    overflow-wrap: break-word;
    text-align: center;
    font-size: 4.4rem;
}

.title-line {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.title div {
    display: inline;
    background-color: var(--dark);
    max-width: 100vw;
}
